#un span{
    background-color: black;
    color: white;
    height: 100px;
    width: 300px;
}



 ul>li:nth-child(odd){
    color: white;
}


 section:nth-child(4) *{
    display: flex;

}

section:nth-child(5) *{
    display: inline;
}